.Main_body {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    background-size: cover;
    overflow: hidden;
}

.image_grid {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    gap: 20px;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 100vh; /* 화면 높이에 따라 중앙에 배열 */
    margin: 0;

}

.Iot_item {
    max-width: 80%; /* 이미지 크기를 최대 화면 너비로 제한 */
    max-height: 80%; /* 이미지 크기를 최대 화면 높이로 제한 */
    display: block; /* 이미지 중앙 정렬을 위해 block 요소로 변경 */
    transition: transform 0.3s ease;  /* 변환 효과 부드럽게 적용 */
}

.Iot_item:hover {
    transform: scale(1.1);
}
.Link_style {
    text-decoration: none;
    color: black;
    text-align:center;
    position: absolute;
    margin-left: 85px;
}