<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Door Control</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<button id="openbutton">Door OPEN</button>
<button id="closebutton">Door CLOSE</button>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function(){
        $("#openbutton").click(function(){
            $.post("/door/open", function(data, status){
                alert("Door OPEN");
            });
        });

        $("#closebutton").click(function(){
            $.post("/door/close", function(data, status){
                alert("Door CLOSE");
            });
        });
    });
    /*]]>*/
</script>
</body>
</html>